RedBelgrano/.vs/RedBelgrano/FileContentIndex/21008d0c-216d-4b72-842d-426e4a1b5afb.vsidx
RedBelgrano/.vs/RedBelgrano/FileContentIndex/21008d0c-216d-4b72-842d-426e4a1b5afb.vsidx
RedBelgrano/.vs/RedBelgrano/FileContentIndex/21008d0c-216d-4b72-842d-426e4a1b5afb.vsidx
RedBelgrano/.vs/RedBelgrano/FileContentIndex/21008d0c-216d-4b72-842d-426e4a1b5afb.vsidx
RedBelgrano/.vs/ProjectEvaluation/redbelgrano.metadata.v7.bin
RedBelgrano/.vs/ProjectEvaluation/redbelgrano.metadata.v8.bin
RedBelgrano/.vs/ProjectEvaluation/redbelgrano.projects.v7.bin
*.bin
*.vsidx
*.v2
*.cache
*.props
