@*
    GRAFICOSSS
*@

<div class="row mt-2">

    <div class="col-sm-6">

        <div class="card" >
            <div class="card-header">Grafico 1</div>
            <div class="card-body">
                <canvas id="chartBalancePorMes" style="max-height = 250px" ></canvas>
            </div>
        </div>

    </div>


    <div class="col-sm-6">

        <div class="card">
            <div class="card-header">Grafico 2</div>
            <div class="card-body">
                <canvas id="chartTransaccionesPorTipos" style="max-height = 250px" ></canvas>
            </div>
        </div>

    </div>


</div>

@section Scripts{

    <script>

        function ObtenerBalanceDeMeses() {

            fetch("ObtenerBalanceDeMeses")
                .then( (response) => {
                    return response.ok? response.json() : Promise.reject(response)
                })
                .then( (dataJson) => {

                    console.log(dataJson)

                } )
                .catch(error => console.error("Error al cargar datos del gráfico:", error));
        }


        $(document).ready(() => {
            ObtenerBalanceDeMeses()
        })

    </script>

}
