
@*
    FINANZAS
*@

@{
    Layout = "~/Views/Shared/_Finanzas.cshtml";
}

<h1> FINANZAS</h1>

<br/>

<h6> Reservas: $@ViewBag.Reserva</h6>
<h6> Balance Del Mes: $@ViewBag.BalanceMes.TotalNeto</h6>







