@model RedBelgrano.DataViewModel.AñadirResidenteVM;


<head>
    <link rel="stylesheet" href="~/css/Residentes.css" asp-append-version="true" />

</head>

<main class="container">

    

    <form class="form-añadir" asp-controller="Residentes" asp-action="Nuevo" method="post">
        

         <div class="form-header">
            <h2 class="titulo-form "> Añadir Residente</h2>
         </div>
         
        

        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-body">


            <div class="form-line line-3">
                <div class="input-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" asp-for="nombre" class="" />
                    <span asp-validation-for="nombre" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" asp-for="apellido" class="" />
                    <span asp-validation-for="apellido" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <label for="dni">DNI</label>
                    <input type="number" asp-for="dni" class="" />
                    <span asp-validation-for="dni" class="text-danger"></span>
                </div>
            </div>

            <div class="form-line line-2">
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="text" asp-for="email" class="" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <label for="telefono">Teléfono</label>
                    <input type="number" asp-for="telefono" class="" />
                    <span asp-validation-for="telefono" class="text-danger"></span>
                </div>
            </div>

            <div class="form-line line-2">
                <div class="input-group">
                    <label for="piso">Piso</label>
                    <input type="number" asp-for="piso" class="" />
                    <span asp-validation-for="piso" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <label for="departamento">Dpto.</label>
                    <input type="text" asp-for="departamento" class="" />
                    <span asp-validation-for="departamento" class="text-danger"></span>
                </div>
            </div>

            <div class="form-line line-2">
                <div class="input-group">
                    <label for="tipoRId">Tipo</label>
                    <select asp-for="tipoRId" asp-items="ViewBag.Tipos" class=""></select>
                    <span asp-validation-for="tipoRId" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <label for="estadoId">Estado</label>
                    <select asp-for="estadoId" asp-items="ViewBag.Estados" class=""></select>
                    <span asp-validation-for="estadoId" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="submit-container mt-2 mb-4 col-4">
                <button class="btn btn-primary form-control submit-button" type="submit">Añadir</button>
            </div>

        </div>
        
        

       

    </form>

</main>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}