@model RedBelgrano.DataViewModel.UsuarioLoginVM
@{
    Layout = null;
}

<html>
<head>
    <title>Red Belgrano - Ingreso</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Login.css" asp-append-version="true" />

    <!--Enlace para Poppins-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
    
    <!-- Enlace para Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">

    <!-- Enlace para Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">


</head>
<body>

    <main class="container">
       
        <h1 class="titulo">RED BELGRANO</h1>
        
        <div class="form-container align-content-center justify-content-center">

            <form asp-controller="Login" asp-action="IniciarSesion" method="post">

                <div class="form-header">
                    <h3>Iniciar Sesion</h3>
                </div>

                <div class="form-body">

                    <div class="control" >
                        <label for="tipo">Tipo de Usuario</label>
                        <select asp-for="tipo" class="form-select mb-3" id="tipo">
                            <option value="Residente">Residente</option>
                            <option value="Administrador">Administrador</option>
                            <option value="Encargado">Encargado</option>
                        </select>
                    </div>

                    <div class="control">
                        <label for="dni">Documento</label>
                        <input class="form-control mb-3" type="number" id="dni" placeholder="dni" required asp-for="dni" />
                    </div>

                    <div class="control">
                        <label for="clave">Contraseña</label>
                        <input class="form-control mb-3" type="password" id="clave" placeholder="Contraseña" required asp-for="clave" />
                    </div>

                    <div class="form-button-container text-center mb-3 ">
                        <button type="submit" class="btn btn-danger">Ingresar</button>
                    </div>

                    @if (ViewData["Mensaje"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewData["Mensaje"]
                        </div>
                    }

                </div>

            </form>

        </div>

        


    </main>
    

</body>
</html>
