@model RedBelgrano.DataViewModel.UsuarioLoginVM
@{
    Layout = null;
}

<html>
<head>
    <title>Red Belgrano - Ingreso</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Login.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap" rel="stylesheet">
    
    <!-- Enlace para Montserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">

    <!-- Enlace para Roboto -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">


</head>
<body>

    <main class="container">
       
        <h1 class="titulo">RED BELGRANO</h1>
        
        <div class="form-container border border-1  border-danger">
            <form asp-controller="Login" asp-action="Login" method="post">

                <div class="form-header">
                    <h3>Iniciar Sesion</h3>
                </div>

                <div class="form-body">
                    <label for="tipo">Tipo de Usuario</label>
                    <select asp-for="tipo" class="form-select mb-3" id="tipo">
                        <option value="residente">Residente</option>
                        <option value="admin">Administrador</option>
                        <option value="encargado">Encargado</option>
                    </select>

                    <input class="form-control mb-3" type="number" placeholder="dni" required asp-for="dni" />
                    <input class="form-control mb-3" type="password" placeholder="Contraseña" required asp-for="clave" />

                    <button type="submit" class="btn btn-danger">Ingresar</button>
                </div>

            </form>
        </div>

        


    </main>
    

</body>
</html>
