@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Exception

<h1 class="text-danger">Ocurrió un error inesperado</h1>

@if (Model != null)
{
    <p><strong>Mensaje:</strong> @Model.Message</p>
    <p><strong>Origen:</strong> @Model.Source</p>
    <p><strong>StackTrace:</strong></p>
    <pre>@Model.StackTrace</pre>
}
else
{
    <p>No se encontró información del error.</p>
}